# Python bytecode
__pycache__/
*.pyc

# Environments
.env/
.venv/
venv/

# Data
data/cached_data/*
!data/cached_data/.gitkeep
!data/figs/.gitkeep

# Trained model directory
trained_mdls/*
!traind_mdls/.gitkeep


# Figures
*pics/


# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Logs
*.log
